#content {
    margin-top: 60px;
    min-height: 640px;
}

#articleInfos {
    width: 100%;
    overflow: hidden;
    display: block;
}

.articleInfo {
    width: 57.3%;
    float: left;
    margin-bottom: 30px;
}

.articleInfo:hover {
    cursor: pointer;
}

.articleInfo:hover h1 {
    color: #db3e39;
    transition: 0.3s;
    width: 180px;
}

.articleInfo h1 {
    color: black;
    transition: 0.5s;
}

.articleInfo h6 {
    color: rgb(77, 77, 77);
}

.articleInfo h4 {
    color: black;
}