 #header {
     padding: 0;
     font-size: 16px;
     font-family: "微软雅黑";
     margin-bottom: 20px;
     text-align: center;
     /*background-color: cornflowerblue;*/
 }
 
 #header-top a {
     margin: 20px 30px;
     color: #000000;
     transition: 0.5s;
 }
 
 #header-top a:hover {
     color: #d63276;
     transition: 0.3s;
     text-decoration: none;
     text-decoration-line: none;
     border-bottom: 2px #000000 solid;
     padding-bottom: 10px;
 }
 
 #header-top {
     width: 470px;
     margin: 0 auto;
     margin-top: 10px;
     text-align: center;
     padding-bottom: 10px;
 }
 
 #header-logo {
     top: 0;
     position: absolute;
     float: left;
     height: 30px;
     width: 30px;
     margin-top: 6px;
     margin-left: 10px;
     border-radius: 15px;
     transition: 0.3s;
 }
 
 #header-logo:hover {
     box-shadow: 0px 0px 5px 1px #f74141c2;
     transition: 0.3s;
 }
 
 #header-logo img {
     height: 30px;
     border-radius: 15px;
 }
 
 #time {
     float: right;
     margin-top: 0px;
     margin-right: 10px;
 }
 
 #_br {
     height: 1px;
     background-color: rgb(231, 231, 231);
 }